<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Restaurar maquina</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" data-th-action="@{/restaurar}" data-th-object="${model}"
		method="post">
		<div>
			<p>Ingresar id de la maquina a restaurar</p>
		</div>
		
		<div>
			<p>Id Maquina:</p>
			<input type="text" name="workid" value="" />
		</div>
		<button type="submit" name="action" value="restaurarMaquina">Restaurar</button>
	</form>
	<div th:if="${respuesta}">
		<div>
			Error al restaurar maquina: <b th:text="${respuesta}"> </b>
		</div>
	</div>
</body>
<div th:unless="${respuesta}">
	<div>
		Maquina: <b th:text="${workId}"> </b> restaurada
	</div>
</div>
</html>